header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    min-height: 69px;
    max-height: 69px;
    border-bottom: solid 1px seashell;
    background-color: #000;
    z-index:9999 ;
    flex-wrap: wrap;
}

*{
    margin: 0;
    padding: 0;
}

.logo{
    margin-top: 5px;
    margin-left: 10px;
    background: #000;
}

ul{
   
    list-style-type: none;
}

body{
    background-color: #000;
}