.question-link:visited {
  color: #ffffff;
}

a, .answer {
  cursor: pointer;
  text-decoration: underline;
}

a:link {
  color: #61bff9;
}

a:visited, .answer {
  color: #466995;
}

a:hover, .answer:hover { 
  text-decoration: none;
}

a:active, .answer:active {
  color: #DBE9EE;
}

.answer{
  border-radius:10px;
  border-width:1px;
  border-style:solid;
  box-shadow:0 4px;
border-color:#466995;
}

/* .answer:active{
  background-color:#C0D6DF;
  margin-top:24px;
  box-shadow:0px 0px;
  margin-bottom:16px;
  color:#ffffff;
}


.answer:hover{
    background-color:#C0D6DF;
  }
  .answer {
    border: 1px solid #466995;
  }
  
  .answer:active {
    background-color: #C0D6DF;
    color: #ffffff;
  }
   */